$basecolor: #00D78B;
$secondcolor: black;
$textcolor: rgb(27, 27, 27);
$shadow: 1px 1px 5px rgba(189, 189, 189, 0.438);
$border-radius: 3px;


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}
