@import './utils', './card', './shopcart';

// './card', './carrossel', './shopcart';


.header {
  background-color: $secondcolor;
	width: 100%;
	height: 72px;
	@include flex(row, space-around, center);

	button {
		@include buttonStyle;
		@include flex(row, center, center);
	}
}

.amount {
	color: $secondcolor;
	background-color: $basecolor;
	margin-bottom: 14px;
	height: 16px;
	width: 16px;
	left: 1208px;
	top: 20px;
	border-radius: 100%;
	text-align: center;
	line-height: 16px;
	font-size: 10px;
}
