.card {
  background-color: white;
  border: solid #EEEEEE 1px;
  width: 235px;
  padding: 11px;
  border-radius: 3px;
}

.card img {
  width: 100%;
  height: 282px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-add {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  background-color: #00D78B;
  width: 100%;
  height: 40px;
  border-radius: 3px;
}

.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title p {
  width: 80%;
  color: #6b6a6a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 13px;
}

.card-price {
  font-weight: bold;
  margin-top: -2px;
}

.bg-shopcart {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.section-shopcart {
  background-color: white;
  width: 30%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 800px) {
  .section-shopcart {
    width: 80%;
  }
}

.button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}

.header-shopcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-shopcart button {
  background-color: #00D78B;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finalizar-compra {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 20px;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify-left;
      -ms-flex-pack: justify-left;
          justify-content: justify-left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-weight: bold;
}

.finalizarPedido {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  height: 60px;
  background-color: #00D78B;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.shop {
  margin-left: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify-right;
      -ms-flex-pack: justify-right;
          justify-content: justify-right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.conteudo-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.conteudo-texto p {
  width: 70%;
}

.conteudo-texto button {
  background-color: #eeeeee;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteudo-preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteudo-preco p {
  font-weight: bold;
}

.btn-preco {
  border: solid black 1px;
  padding: 5px;
}

.empty {
  text-align: center;
}

.products-section {
  height: 550px;
  overflow: scroll;
}

.header {
  background-color: black;
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount {
  color: black;
  background-color: #00D78B;
  margin-bottom: 14px;
  height: 16px;
  width: 16px;
  left: 1208px;
  top: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
}

.produtos {
  margin-top: 50px;
}

.produtos h1 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 50px;
}

.rec.rec-arrow {
  border-radius: 100%;
  background-color: #CCCCCC;
  border-style: none;
  color: white;
}

.rec.rec-arrow:hover {
  background-color: black;
}

button.rec-dot {
  visibility: hidden;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.loading div {
  width: 50px;
  height: 50px;
  border: 6px solid black;
  border-top: #00D78B;
  border-radius: 100%;
  -webkit-animation: roatating 1s infinite;
          animation: roatating 1s infinite;
}

@-webkit-keyframes roatating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes roatating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
/*# sourceMappingURL=style.css.map */